@charset "UTF-8";

h2#yourtitle {
    border-bottom: 1px solid gray;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 26px;
}


div#innerpanel {
    width: 373px;
    margin-left: 385px;
}



h4 {
    color: #2d4755;
    font-weight: 500;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 10px; */
    font-size: 21px;
    border-radius: 10px;
    text-align: center;
}
ul.list-unstyled.list-justify {line-height: 56px;}


button#deletevo {
    margin-top: -11px;
    margin-bottom: 21px;
    background-color: #d9e5eb;
    color: #2d4755;
    width: 608px;
    padding: 5px;
    /* padding-left: 10px; */
    margin-left: 25px;
    font-weight: bold;
    border-radius: 10px;
}
ul.list-unstyled.list-justify {
    background-color: aliceblue;
    padding: 38px;
}

h2.panel-title {
    margin-top: 0px;
}

ul.list-unstyled.list-justify {
    font-weight: bold;
    font-size: 17px;
}

span#yourspan {
    font-size: 15px;
    font-weight: normal;
}

ul.list-unstyled.list-justify {
    color: #2d4755;
    background-color: whitesmoke;
    border-radius: 10px;
}

p#yourli {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #e0efe0;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

li#yourli2 {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #e0efe0;;
    margin: 0px;
}

p#yourli {
    padding-right: 31px;
    padding-left: 23px;
    background-color: aliceblue;
}


div#innerpanel {
    width: 657px;
    margin-left: 272px;
}


span#yourspan {
    font-size: 14px;
    font-weight: normal;
    /* float: right; */
    padding-left: 21px;
}

li#yourli3 {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 12px;
    background-color: #e0efe0;
    margin: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
}

img {
    width: 176px;
    height: auto;
    /* margin-right: 151px; */
    /* margin-left: 174px; */
}

div#forimg {
    text-align: center;
}

img#yourimg {
    width: 176px;
    height: auto;
    /* margin-right: 151px; */
    /* margin-left: 174px; */
    margin-bottom: 27px;
}


