@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Numans');

.divSearch {
    /* align-items: center; */
    text-align: center;
    font-family: 'Numans', sans-serif;
}

input#searchinput {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
}

input#searchbutton {
    height: 40px;
    border-radius: 5px;
    border: none;
    width: 50px;
    background-color: #d9e5eb;
}

option {
    border: none;
    text-align: center;
}

select#searchsel {
    height: 40px;
    border: none;
    background-color: #d9e5eb;
    border-radius: 5px;
}

.divSearch {
    margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Numans');

.divSearch {
    /* align-items: center; */
    text-align: center;
    font-family: 'Numans', sans-serif;
}

input#searchinput {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
}

input#searchbutton {
    height: 40px;
    border-radius: 5px;
    border: none;
    width: 50px;
    background-color: #d9e5eb;
}

option {
    border: none;
    text-align: center;
}

select#searchsel {
    height: 40px;
    border: none;
    background-color: #d9e5eb;
    border-radius: 5px;
}




p {
    margin-bottom: 25px;
    margin-top: 25px;

}


.divSearch {
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}








