@charset "UTF-8";

form {
    /* width: 600px; */
}
h2#yourtitle {
    border-bottom: 1px solid gray;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 26px;
}
label {
    padding-left: 260px;
    margin-top: 15px;
}

input#title {
    /* padding-left: 10px; */
    margin-left: 260px;
    border-radius: 100px;
    margin-top: 10px;
    width: 600px;
}

button.btn.btn-primary {
    color: #2d4755;
    background-color: #d9e5eb;
    padding: 10px;
    margin-left: 812px;
    margin-top: 18px;
    margin-bottom: 10px;
}

textarea#content {
    margin-left: 260px;
    border-radius: 10px;
    margin-top: 10px;
    height: 200px;
    width: 600px;
}

li#yourli {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #cedfce;
    margin: 0px;
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
}
