@charset "UTF-8";

form {
    /* width: 600px; */
}

h2 {border-bottom: 1px solid gray;padding: 10px;font-size: 30px;}

label {
    padding-left: 10px;
    margin-top: 15px;
}

input#title {
    /* padding-left: 10px; */
    margin-left: 10px;
    border-radius: 100px;
    margin-top: 10px;
    width: 600px;
}

button.btn.btn-primary {
    color: #2d4755;
    background-color: #d9e5eb;
    padding: 10px;
    margin-left: 560px;
    margin-top: 10px;
}

textarea#content {
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    height: 200px;
    width: 600px;
}
