@charset "UTF-8";

.featured__item__pic {
	height: -20px;
	position: relative;
	overflow: hidden;
	background-position: center center;
}

div#cart {
    height: 0px;
}

#banner1 {
	text-align: center;
	height: 350px;
}

#banner1 img{
	height: 100%
}

#banner2{
	text-align: center;
	margin-top: 30px;
}

img#yourimg {
    width: 500px;
    height: 323px;
}

section.related-product {
    padding-top: 5%;
}