@charset "UTF-8";

h1.h4.text-gray-900.mb-4 {
    /* margin-bottom: 40px; */
    padding-bottom: 9px;
}

.form-group {
    margin-bottom: 40px;
    margin-top: 10px;
    padding-top: 28px;
}

.text-center {
    /* margin-top: 20px; */
}

input.btn.btn-primary.btn-user.btn-block {
    /* margin-bottom: 13px; */
    /* padding-bottom: 13px; */
}

hr {
    margin-top: 83px;
    margin-bottom: 42px;
}

@charset "UTF-8";

h1.h4.text-gray-900.mb-4 {
    /* margin-bottom: 40px; */
    padding-bottom: 34px;
}

.form-group {
    margin-bottom: 40px;
    margin-top: 10px;
    padding-top: 28px;
}

.text-center {
    /* margin-top: 20px; */
}

input.btn.btn-primary.btn-user.btn-block {
    /* margin-bottom: 13px; */
    /* padding-bottom: 13px; */
}

hr {
    margin-top: 29px;
    margin-bottom: 28px;
}