@charset "UTF-8";

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0.8);
}
.cir {
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}
.btn-contain {
    right: 133px;
    font-size: large;
    /* padding-top: 206px; */
    padding-botton: 7%;
    /* padding-left: 177%; */
    /* width: 200px; */
    /* height: 100px; */
    position: absolute;
    top: 87%;
}

.btn {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: #8bc34a;;
  text-align: center;
  z-index: 10;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 1px 5px 2px #BFCEEF;
}
.btn:active, .btn:hover, .btn:focus {
  outline: none !important;
  color: white;
} 
.btn-particles {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  color: #eee;
  font-family: monospace;
  z-index: 5;
/*  filter: url(#gooeyness); */
}
.btn:active {
  transform: scale(0.9) translate(-55%, -55%);
}



form#checkout_form {
    padding-top: 0px;
    padding-left: 79px;
    padding-right: none;
    /* padding: 0px; */
    /* padding-bottom: 15px; */
    /* margin-bottom: 13px; */
    width: 14px;
    height: 68px;
    float: none;
    margin-left: -11px;
}


button.btn {
    /* margin-top: 382px; */
    margin-right: -92px;
    margin-top: 35px;
}

div#price {
    margin-top: 24px;
}


